# List
1. Let us say your expense for every month are listed below,
   i. January - 2200
   ii.February - 2350
   iii. March - 2600
   iv. April - 2130
   v. May - 2190
   
Create a list to store these monthly expenses and using that find out,

1. In Feb, how many dollars you spent extra compare to January?
2. Find out your total expense in first quarter (first three months) of the year.
3. Find out if you spent exactly 2000 dollars in any month
4. June month just finished and your expense is 1980 dollar. Add this item to our monthly expense list
5. You returned an item that you bought in a month of April and
got a refund of 200$. Make a correction to your monthly expense list
based on this

In [4]:
#1
month_exp = [2200,2350,2600,2130,2190]
extra_compare_january = month_exp[1] - month_exp[0]
print(f'extra expense used in feb {extra_compare_january}')

extra expense used in feb 150

In [5]:
#2
first_quater = month_exp[:-2]
first_quater

[2200, 2350, 2600]

In [12]:
sum_first_quarter = month_exp[0]+month_exp[1]+month_exp[2]
sum_first_quarter

7150

In [11]:
total_sum = 0
for i in first_quater:
    total_sum = total_sum + i
print(total_sum)

7150

In [15]:
#3 
guess = 2000 in month_exp
guess

False

In [17]:
#4
month_exp.append(1980)
month_exp

[2200, 2350, 2600, 2130, 2190, 1980, 1980]

In [18]:
#5
month_exp[3] = month_exp[3] - 200
month_exp

[2200, 2350, 2600, 1930, 2190, 1980, 1980]

   You have a list of your favourite marvel super heros.
   heros=['spider man','thor','hulk','iron man','captain america']
   Using this find out,

1. Length of the list
2. Add 'black panther' at the end of this list
3. You realize that you need to add 'black panther' after 'hulk',
   so remove it from the list first and then add it after 'hulk'
4. Now you don't like thor and hulk because they get angry easily :)
   So you want to remove thor and hulk from list and replace them with doctor strange (because he is cool).
   Do that with one line of code.
5. Sort the heros list in alphabetical order (Hint. Use dir() functions to list down all functions available in list)

In [19]:
#1
heros = ['spider man','thor','hulk','iron man','captain america']
length = len(heros)
length

5

In [20]:
#2
heros.append('black panther')
heros

['spider man', 'thor', 'hulk', 'iron man', 'captain america', 'black panther']

In [23]:
#3
#heros.remove('black panther')
heros.insert(3,'black panther')
heros

['spider man', 'thor', 'hulk', 'black panther', 'iron man', 'captain america']

In [24]:
#4 
heros[2] = 'doctor strange'
heros

['spider man',
 'thor',
 'doctor strange',
 'black panther',
 'iron man',
 'captain america']

In [25]:
# 5
heros.sort()
heros

['black panther',
 'captain america',
 'doctor strange',
 'iron man',
 'spider man',
 'thor']

# If Condition

    Using following list of cities per country,
    india = ["mumbai", "banglore", "chennai", "delhi"]
    pakistan = ["lahore","karachi","islamabad"]
    bangladesh = ["dhaka", "khulna", "rangpur"]
    
    Write a program that asks user to enter a city name and it should tell which country the city belongs to
    Write a program that asks user to enter two cities and it tells you if they both are in same country or not. For example if     I enter mumbai and chennai, it will print "Both cities are in India" but if I enter mumbai and dhaka it should print "They       don't belong to same country"

In [30]:
#1
india = ["mumbai", "banglore", "chennai", "delhi"]
pakistan = ["lahore","karachi","islamabad"]
bangladesh = ["dhaka", "khulna", "rangpur"]
user = input("Enter the city: ")

if user in india:
    print(user,"belongs to india")
elif user in pakistan:
    print(user,"belongs to pakistan")
elif user in bangladesh:
    print(user,"belongs to bangladesh")
else:
    print("enter appropriate city")

Enter the city: chennai
chennai belongs to india

In [36]:
#2
user1 = input("Enter the city1: ")
user2 = input("Enter the city2: ")

if user1 and user2 in india:
    print("both cities belongs to india")
elif user1 and user2 in pakistan:
    print("both cities belongs to pakistan")
    
elif user1 and user2 in bangladesh:
    print("both cities belongs to bangladesh")
else:
    print("doesn't belongs to same country")

Enter the city1: mumbai
Enter the city2: chennai
both cities belongs to india

    Write a python program that can tell you if your sugar is normal or not. Normal fasting level sugar range is 80 to 100.
    i. Ask user to enter his fasting sugar level
    ii. If it is below 80 to 100 range then print that sugar is low
    iii.If it is above 100 then print that it is high otherwise print that it is normal

In [40]:
user_sugar_level = int(input("Enter the level of your sugar: "))

if user_sugar_level < 80:
    print("sugar is low")
elif user_sugar_level > 100:
    print("suger is high")
elif user_sugar_level in range (80,100):
    print("sugar is normal")

Enter the level of your sugar: 104
suger is high

# For Loop
1. After flipping a coin 10 times you got this result,
    result = ["heads","tails","tails","heads","tails","heads","heads","tails","tails","tails"]
    Using for loop figure out how many times you got heads

In [43]:
result = ["heads","tails","tails","heads","tails","heads","heads","tails","tails","tails"] 
count = 0
for i in result:
    if i == "heads":
        count = count + 1
print(count)

4

In [45]:
#After rolling a six-sided die 15 times, the outcomes were recorded in the list roll_results. 
#Use a for loop to count how many times the number 4 appeared.
roll_results = [3, 6, 4, 2, 4, 5, 1, 4, 3, 2, 6, 4, 1, 5, 4]
count1 = 0
for i in roll_results:
    if i == 4:
        count1 = count1 + 1
print(count1)

5

In [48]:
#A list grades contains the scores of students in a class. Calculate the average grade using a for loop.
grades = [85, 90, 78, 92, 88, 95]
sum_grades = 0
for i in grades:
    sum_grades = sum_grades + i

average_grades = sum_grades/len(grades)
average_grades

88.0

2. Print square of all numbers between 1 to 10 except even numbers

In [51]:
for i in range(1,11):
    if i % 2 == 0:
        square = i ** 2
        print(square)

4
16
36
64
100

    Your monthly expense list (from Jan to May) looks like this,
    expense_list = [2340, 2500, 2100, 3100, 2980]
    Write a program that asks you to enter an expense amount and program should tell you in which month that expense occurred. If expense is not found then it should print that as well.

In [2]:

expense_list = [2340, 2500, 2100, 3100, 2980]
month_list = ["January", "February", "March", "April", "May"]

user_input = int(input("Enter the expense: "))
if user_input in expense_list:
    for i in range(len(expense_list)):
        if user_input == expense_list[i]:
            print("Expence occured in ",month_list[i],"Month")
else:
    print("Expense not found")

Enter the expense: 2100
Expence occured in  March Month

    Lets say you are running a 5 km race. Write a program that,

    Upon completing each 1 km asks you "are you tired?"
    If you reply "yes" then it should break and print "you didn't finish the race"
    If you reply "no" then it should continue and ask "are you tired" on every km
    If you finish all 5 km then it should print congratulations message

In [6]:
for i in range(5):
    print("completed 1 KM")
    user_ans = input("Are you tired ?: ")
    if user_ans == 'no':
        continue
    elif user_ans == 'yes':
        break
if i == 4:
    print("congrats")
else:
    print('try your best')

completed 1 KM
Are you tired ?: yes
try your best

    Write a program that prints following shape

    *
    **
    ***
    ****
    *****

In [16]:
a = '*'
for i in range(1,6):
    print(a*i)

*
**
***
****
*****