# Variables
1. Create a variable called break and assign it a value 5. See what happens and find out the reason behind the behavior that you see.

2. Create two variables. One to store your birth year and another one to store current year. Now calculate your age using these two variables

3. Store your first, middle and last name in three different variables and then print your full name using these variables

4. Answer which of these are invalid variable names: _nation 1record record1 record_one record-one record^one continue

In [1]:
#1
break = 5
print(break)
#break is a reserved keyword in Python used for control flow in loops, 
#and reassigning it as a variable can lead to unexpected behavior and errors in your code.

SyntaxError: invalid syntax (4028869155.py, line 2)

In [2]:
#2
birth_year = 2002
current_year = 2024
age = current_year - birth_year
age

22

In [4]:
#3 
first_name = 'Alis '
mid_name = 'D.'
last_name = 'Tamang'
join = first_name + mid_name + last_name
join

'Alis D.Tamang'

In [8]:
#4 Answer which of these are invalid variable names: _nation 1record record1 record_one record-one record^one continue

_nation = 1 #valid
record = 0 #invalid
record1 = 2 # valid
record_one = 12 #valid
record-one = 22 # invalid
record^one = 11 #invalid

SyntaxError: cannot assign to operator (3697234220.py, line 8)

# Numbers in python
1. You have a football field that is 92 meter long and 48.8 meter wide. Find out total area using python and print it.
1. You bought 9 packets of potato chips from a store. Each packet costs 1.49 dollar and you gave shopkeeper 20 dollar. Find out using python, how many dollars is the shopkeeper going to give you back?
3. You want to replace tiles in your bathroom which is exactly square and 5.5 feet is its length. If tiles cost 500 rs per square feet, how much will be the total cost to replace all tiles. Calculate and print the cost using python (Hint: Use power operator ** to find area of a square)
4. Print binary representation of number 17

In [9]:
#1
length = 92
width = 48.8
Area = length * width
Area

4489.599999999999

In [11]:
#2
potato_chip = 9
price_per_packet = 1.49
given_money = 20
Total_price_chips = 9 * 1.49
return_money = given_money - Total_price_chips 
return_money

6.59

In [12]:
#3
bathroom_length = 5.5
area_of_bathroom = bathroom_length ** 2
cost_to_replaceall = area_of_bathroom * 500
cost_to_replaceall

15125.0

In [13]:
decimal_number = 42
binary_representation = bin(decimal_number)

print(f"The binary representation of {decimal_number} is: {binary_representation}")

The binary representation of 42 is: 0b101010

In [14]:
binary_num = "0b101010"
decimal = int(binary_num,2) #base = 2 
decimal

42

# String in Python
1. Create 3 variables to store street, city and country, now create address variable to store entire address. Use two ways of creating this variable, one using + operator and the other using f-string. Now Print the address in such a way that the street, city and country prints in a separate line
2. Create a variable to store the string "Earth revolves around the sun"
   i. Print "revolves" using slice operator
   ii. Print "sun" using negative index
3. Create two variables to store how many fruits and vegetables you eat in a day. Now Print "I eat x veggies and y fruits daily" where x and y presents vegetables and fruits that you eat everyday. Use python f string for this.
4. I have a string variable called s='maine 200 banana khaye'. This of course is a wrong statement, the correct statement is 'maine 10 samosa khaye'. Replace incorrect words in original strong with new ones and print the new string. Also try to do this in one line.

In [24]:
#1 
street = 'jupiter'
city = 'lalitpur'
country = 'nepal'
address1 = street+'\n'+ city + '\n' + country
print("using + operator\n",address1)
address2 = f'{street}\n{city}\n{country}'
print("using f operator\n",address2)

using + operator
 jupiter
lalitpur
nepal
using f operator
 jupiter
lalitpur
nepal

In [34]:
var1 = "Earth revolves around the sun"
cut1 = var1[6:-14]
print(cut1)
cut2= var1[-3:]
print(cut2)

revolves
sun

In [37]:
veg = 5
fruits = 2
formatf = f"I eat {veg} veggies and {fruits} fruits daily"
print(formatf)

I eat 5 veggies and 2 fruits daily

In [40]:
#I have a string variable called s='maine 200 banana khaye'. 
#This of course is a wrong statement, the correct statement is 'maine 10 samosa khaye'. 
#Replace incorrect words in original strong with new ones and print the new string. Also try to do this in one line.

s = 'maine 200 banana khaye'
s = s.replace("200","10")
s = s.replace("banana","samosa")
print(s)

maine 10 samosa khaye