## Data Load

In [2]:
import pandas as pd

In [3]:
DF = pd.read_csv('Salaries.csv')

C:\Users\alist\AppData\Local\Temp\ipykernel_1636\927518071.py:1: DtypeWarning: Columns (3,4,5,6,12) have mixed types. Specify dtype option on import or set low_memory=False.
  DF = pd.read_csv('Salaries.csv')

In [4]:
DF

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
0,1,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.0,400184.25,NaN,567595.43,567595.43,2011,NaN,San Francisco,NaN
1,2,GARY JIMENEZ,CAPTAIN III (POLICE DEPARTMENT),155966.02,245131.88,137811.38,NaN,538909.28,538909.28,2011,NaN,San Francisco,NaN
2,3,ALBERT PARDINI,CAPTAIN III (POLICE DEPARTMENT),212739.13,106088.18,16452.6,NaN,335279.91,335279.91,2011,NaN,San Francisco,NaN
3,4,CHRISTOPHER CHONG,WIRE ROPE CABLE MAINTENANCE MECHANIC,77916.0,56120.71,198306.9,NaN,332343.61,332343.61,2011,NaN,San Francisco,NaN
4,5,PATRICK GARDNER,"DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)",134401.6,9737.0,182234.59,NaN,326373.19,326373.19,2011,NaN,San Francisco,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
148649,148650,Roy I Tillery,Custodian,0.00,0.00,0.00,0.00,0.00,0.00,2014,NaN,San Francisco,PT
148650,148651,Not provided,Not provided,Not Provided,Not Provided,Not Provided,Not Provided,0.00,0.00,2014,NaN,San Francisco,NaN
148651,148652,Not provided,Not provided,Not Provided,Not Provided,Not Provided,Not Provided,0.00,0.00,2014,NaN,San Francisco,NaN
148652,148653,Not provided,Not provided,Not Provided,Not Provided,Not Provided,Not Provided,0.00,0.00,2014,NaN,San Francisco,NaN
148653,148654,Joe Lopez,"Counselor, Log Cabin Ranch",0.00,0.00,-618.13,0.00,-618.13,-618.13,2014,NaN,San Francisco,PT

In [5]:
DF.shape

(148654, 13)

In [6]:
DF.dtypes

Id                    int64
EmployeeName         object
JobTitle             object
BasePay              object
OvertimePay          object
OtherPay             object
Benefits             object
TotalPay            float64
TotalPayBenefits    float64
Year                  int64
Notes               float64
Agency               object
Status               object
dtype: object

## Data Clean

In [7]:
#convert data  string to nan
DF['BasePay'].replace('Not Provided','NaN',inplace = True)
DF['BasePay'] = DF['BasePay'].astype(float)

In [8]:
DF['BasePay'] = DF['BasePay'].astype(float)

In [9]:
DF.dtypes

Id                    int64
EmployeeName         object
JobTitle             object
BasePay             float64
OvertimePay          object
OtherPay             object
Benefits             object
TotalPay            float64
TotalPayBenefits    float64
Year                  int64
Notes               float64
Agency               object
Status               object
dtype: object

In [10]:
#convert 
DF['OvertimePay'].replace('Not Provided','NaN',inplace = True)

In [11]:
DF['OvertimePay'] = DF['OvertimePay'].astype(float)

In [12]:
DF.dtypes

Id                    int64
EmployeeName         object
JobTitle             object
BasePay             float64
OvertimePay         float64
OtherPay             object
Benefits             object
TotalPay            float64
TotalPayBenefits    float64
Year                  int64
Notes               float64
Agency               object
Status               object
dtype: object

In [13]:
#convert 
DF['OtherPay'].replace('Not Provided','NaN',inplace = True)

In [14]:
DF['OtherPay'] = DF['OtherPay'].astype(float)

In [15]:
DF.dtypes

Id                    int64
EmployeeName         object
JobTitle             object
BasePay             float64
OvertimePay         float64
OtherPay            float64
Benefits             object
TotalPay            float64
TotalPayBenefits    float64
Year                  int64
Notes               float64
Agency               object
Status               object
dtype: object

In [16]:
DF.columns

Index(['Id', 'EmployeeName', 'JobTitle', 'BasePay', 'OvertimePay', 'OtherPay',
       'Benefits', 'TotalPay', 'TotalPayBenefits', 'Year', 'Notes', 'Agency',
       'Status'],
      dtype='object')

In [17]:
DF['Status'].unique

<bound method Series.unique of 0         NaN
1         NaN
2         NaN
3         NaN
4         NaN
         ...
148649     PT
148650    NaN
148651    NaN
148652    NaN
148653     PT
Name: Status, Length: 148654, dtype: object>

In [18]:
columnsTodrop = ['Id','Notes','Agency','Status']
DF.drop(columns = columnsTodrop,axis = 1,inplace =True)

In [19]:
DF.columns

Index(['EmployeeName', 'JobTitle', 'BasePay', 'OvertimePay', 'OtherPay',
       'Benefits', 'TotalPay', 'TotalPayBenefits', 'Year'],
      dtype='object')

In [20]:
DF1 = DF['EmployeeName'].value_counts()

In [21]:
DF1.head()

Kevin Lee       13
Richard Lee     11
Steven Lee      11
William Wong    11
Stanley Lee      9
Name: EmployeeName, dtype: int64

In [22]:
#number of unique job titile
DF['JobTitle'].nunique()

2159

In [23]:
#total num of captain in job title
sum(DF['JobTitle'].str.contains('Captain',case=False))

552

In [24]:
#dispaly all the name employee from fire departmant
DF[DF['JobTitle'].str.contains('Fire Department',case=False)]

,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year
4,PATRICK GARDNER,"DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)",134401.60,9737.00,182234.59,NaN,326373.19,326373.19,2011
6,ALSON LEE,"BATTALION CHIEF, (FIRE DEPARTMENT)",92492.01,89062.90,134426.14,NaN,315981.05,315981.05,2011
8,MICHAEL MORRIS,"BATTALION CHIEF, (FIRE DEPARTMENT)",176932.64,86362.68,40132.23,NaN,303427.55,303427.55,2011
9,JOANNE HAYES-WHITE,"CHIEF OF DEPARTMENT, (FIRE DEPARTMENT)",285262.00,0.00,17115.73,NaN,302377.73,302377.73,2011
10,ARTHUR KENNEY,"ASSISTANT CHIEF OF DEPARTMENT, (FIRE DEPARTMENT)",194999.39,71344.88,33149.90,NaN,299494.17,299494.17,2011
...,...,...,...,...,...,...,...,...,...
32623,JAMES BARDEN,"BATTALION CHIEF, (FIRE DEPARTMENT)",0.00,1290.69,5802.68,NaN,7093.37,7093.37,2011
36162,Joanne Hayes-White,"Chief, Fire Department",296943.01,0.00,17816.59,72047.88,314759.60,386807.48,2012
72926,Joanne M Hayes-White,"Chief, Fire Department",313686.01,0.00,23236.00,85431.39,336922.01,422353.40,2013
102303,Robert E Evans,"Captain, (Fire Department)",NaN,0.00,35332.78,0.0,35332.78,35332.78,2013
110535,Joanne M Hayes-White,"Chief, Fire Department",302068.00,0.00,24165.44,91201.66,326233.44,417435.10,2014

In [25]:
# just [['EmployeeName']]
DF[DF['JobTitle'].str.contains('Fire Department',case=False)][['EmployeeName']]

                EmployeeName
4            PATRICK GARDNER
6                  ALSON LEE
8             MICHAEL MORRIS
9         JOANNE HAYES-WHITE
10             ARTHUR KENNEY
...                      ...
32623           JAMES BARDEN
36162     Joanne Hayes-White
72926   Joanne M Hayes-White
102303        Robert E Evans
110535  Joanne M Hayes-White

[226 rows x 1 columns]

In [26]:
all_data = DF[DF['JobTitle'].str.contains('Fire Department',case=False)]

In [27]:
minm = DF['BasePay'].min()
mxm = DF['BasePay'].max()
avg = DF['BasePay'].mean()

In [28]:
minm

-166.01

In [29]:
mxm

319275.01

In [30]:

avg

66325.44884050643

In [31]:
#jobtitle 
# DF['BasePay'].replace('Not Provided','NaN',inplace = True)
# DF['BasePay'] = DF['BasePay'].astype(float)
DF[DF['JobTitle'].str.contains('Captain',case=False)][['BasePay']].max()

BasePay    230386.03
dtype: float64

In [32]:
DF.dtypes

EmployeeName         object
JobTitle             object
BasePay             float64
OvertimePay         float64
OtherPay            float64
Benefits             object
TotalPay            float64
TotalPayBenefits    float64
Year                  int64
dtype: object

In [33]:
#base_pay mean
DF.groupby('Year')['BasePay'].max()

Year
2011    294580.02
2012    302578.00
2013    319275.01
2014    318835.49
Name: BasePay, dtype: float64

In [34]:
DF.groupby('Year')['BasePay'].mean()

Year
2011    63595.956517
2012    65436.406857
2013    69630.030216
2014    66564.421924
Name: BasePay, dtype: float64

In [35]:
#delete the rows exceeds the threshold 
threshold = 9 - 5
data_clean = DF.dropna(thresh = threshold)
data_clean

,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year
0,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.00,400184.25,NaN,567595.43,567595.43,2011
1,GARY JIMENEZ,CAPTAIN III (POLICE DEPARTMENT),155966.02,245131.88,137811.38,NaN,538909.28,538909.28,2011
2,ALBERT PARDINI,CAPTAIN III (POLICE DEPARTMENT),212739.13,106088.18,16452.60,NaN,335279.91,335279.91,2011
3,CHRISTOPHER CHONG,WIRE ROPE CABLE MAINTENANCE MECHANIC,77916.00,56120.71,198306.90,NaN,332343.61,332343.61,2011
4,PATRICK GARDNER,"DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)",134401.60,9737.00,182234.59,NaN,326373.19,326373.19,2011
...,...,...,...,...,...,...,...,...,...
148649,Roy I Tillery,Custodian,0.00,0.00,0.00,0.00,0.00,0.00,2014
148650,Not provided,Not provided,NaN,NaN,NaN,Not Provided,0.00,0.00,2014
148651,Not provided,Not provided,NaN,NaN,NaN,Not Provided,0.00,0.00,2014
148652,Not provided,Not provided,NaN,NaN,NaN,Not Provided,0.00,0.00,2014
148653,Joe Lopez,"Counselor, Log Cabin Ranch",0.00,0.00,-618.13,0.00,-618.13,-618.13,2014

In [36]:
# show the deleted rows (assignment)

In [37]:
dropped_rows = DF[DF.isna().any(axis=1)]
dropped_rows.head()

,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year
0,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.00,400184.25,NaN,567595.43,567595.43,2011
1,GARY JIMENEZ,CAPTAIN III (POLICE DEPARTMENT),155966.02,245131.88,137811.38,NaN,538909.28,538909.28,2011
2,ALBERT PARDINI,CAPTAIN III (POLICE DEPARTMENT),212739.13,106088.18,16452.60,NaN,335279.91,335279.91,2011
3,CHRISTOPHER CHONG,WIRE ROPE CABLE MAINTENANCE MECHANIC,77916.00,56120.71,198306.90,NaN,332343.61,332343.61,2011
4,PATRICK GARDNER,"DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)",134401.60,9737.00,182234.59,NaN,326373.19,326373.19,2011

In [40]:
#find the accountant basepay

job_acc = DF[DF['JobTitle'].str.contains('Account',case=False)][['BasePay','EmployeeName']]
job_acc.head()

        BasePay        EmployeeName
7444  107382.02     VICTORIA SANTOS
7686  109158.60         CAROLYN LEW
7687  109158.06            KAN HTUN
8158  106492.07         EDUARDO LIM
8162  106492.04  FLORDELIZA LEVISTE

In [41]:
#find the top five most common jobs
common_jobs = DF['JobTitle'].value_counts

In [42]:
common_jobs()

Transit Operator                                  7036
Special Nurse                                     4389
Registered Nurse                                  3736
Public Svc Aide-Public Works                      2518
Police Officer 3                                  2421
                                                  ...
CHIEF HOUSING INSPECTOR                              1
TRAFFIC SIGNAL OPERATOR                              1
COURT COMPUTER FACILITIES COORDINATOR                1
AUTOMOTIVE BODY AND FENDER WORKER SUPERVISOR I       1
VICTIM & WITNESS TECHNICIAN                          1
Name: JobTitle, Length: 2159, dtype: int64