In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df = pd.read_csv('insurance.csv')

In [3]:
df

      age     sex     bmi  children smoker     region      charges
0      19  female  27.900         0    yes  southwest  16884.92400
1      18    male  33.770         1     no  southeast   1725.55230
2      28    male  33.000         3     no  southeast   4449.46200
3      33    male  22.705         0     no  northwest  21984.47061
4      32    male  28.880         0     no  northwest   3866.85520
...   ...     ...     ...       ...    ...        ...          ...
1333   50    male  30.970         3     no  northwest  10600.54830
1334   18  female  31.920         0     no  northeast   2205.98080
1335   18  female  36.850         0     no  southeast   1629.83350
1336   21  female  25.800         0     no  southwest   2007.94500
1337   61  female  29.070         0    yes  northwest  29141.36030

[1338 rows x 7 columns]

In [4]:
df.head()

   age     sex     bmi  children smoker     region      charges
0   19  female  27.900         0    yes  southwest  16884.92400
1   18    male  33.770         1     no  southeast   1725.55230
2   28    male  33.000         3     no  southeast   4449.46200
3   33    male  22.705         0     no  northwest  21984.47061
4   32    male  28.880         0     no  northwest   3866.85520

In [5]:
df.tail()

      age     sex    bmi  children smoker     region     charges
1333   50    male  30.97         3     no  northwest  10600.5483
1334   18  female  31.92         0     no  northeast   2205.9808
1335   18  female  36.85         0     no  southeast   1629.8335
1336   21  female  25.80         0     no  southwest   2007.9450
1337   61  female  29.07         0    yes  northwest  29141.3603

In [6]:
print('rows',df.shape[0])
print('columns',df.shape[1])

rows 1338
columns 7

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1338 entries, 0 to 1337
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   age       1338 non-null   int64
 1   sex       1338 non-null   object
 2   bmi       1338 non-null   float64
 3   children  1338 non-null   int64
 4   smoker    1338 non-null   object
 5   region    1338 non-null   object
 6   charges   1338 non-null   float64
dtypes: float64(2), int64(2), object(3)
memory usage: 73.3+ KB

In [8]:
df.describe(include ='all')

,age,sex,bmi,children,smoker,region,charges
count,1338.000000,1338,1338.000000,1338.000000,1338,1338,1338.000000
unique,NaN,2,NaN,NaN,2,4,NaN
top,NaN,male,NaN,NaN,no,southeast,NaN
freq,NaN,676,NaN,NaN,1064,364,NaN
mean,39.207025,NaN,30.663397,1.094918,NaN,NaN,13270.422265
std,14.049960,NaN,6.098187,1.205493,NaN,NaN,12110.011237
min,18.000000,NaN,15.960000,0.000000,NaN,NaN,1121.873900
25%,27.000000,NaN,26.296250,0.000000,NaN,NaN,4740.287150
50%,39.000000,NaN,30.400000,1.000000,NaN,NaN,9382.033000
75%,51.000000,NaN,34.693750,2.000000,NaN,NaN,16639.912515
max,64.000000,NaN,53.130000,5.000000,NaN,NaN,63770.428010

In [9]:
df.isnull().any()

age         False
sex         False
bmi         False
children    False
smoker      False
region      False
charges     False
dtype: bool

In [10]:
df.duplicated().any()

True

In [11]:
DF = df.drop_duplicates()

In [12]:
DF.duplicated().any()

False

In [13]:
DF.dtypes

age           int64
sex          object
bmi         float64
children      int64
smoker       object
region       object
charges     float64
dtype: object

In [14]:
DF.head()

   age     sex     bmi  children smoker     region      charges
0   19  female  27.900         0    yes  southwest  16884.92400
1   18    male  33.770         1     no  southeast   1725.55230
2   28    male  33.000         3     no  southeast   4449.46200
3   33    male  22.705         0     no  northwest  21984.47061
4   32    male  28.880         0     no  northwest   3866.85520

In [15]:
# data = pd.get_dummies(DF,drop_first =True)

In [16]:
DF.head()

   age     sex     bmi  children smoker     region      charges
0   19  female  27.900         0    yes  southwest  16884.92400
1   18    male  33.770         1     no  southeast   1725.55230
2   28    male  33.000         3     no  southeast   4449.46200
3   33    male  22.705         0     no  northwest  21984.47061
4   32    male  28.880         0     no  northwest   3866.85520

In [17]:
DF['smoker'].value_counts()

no     1063
yes     274
Name: smoker, dtype: int64

In [18]:
DF['smoker_num'] = DF['smoker'].map({'yes':1,'no':0})

C:\Users\alist\AppData\Local\Temp\ipykernel_8088\2855172309.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  DF['smoker_num'] = DF['smoker'].map({'yes':1,'no':0})

In [19]:
DF['smoker_num'].value_counts()

0    1063
1     274
Name: smoker_num, dtype: int64

In [20]:
DF['sex'].value_counts()

male      675
female    662
Name: sex, dtype: int64

In [21]:
DF['sex_num'] = DF['sex'].map({'male':1, 'female':0})

C:\Users\alist\AppData\Local\Temp\ipykernel_8088\1925800785.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  DF['sex_num'] = DF['sex'].map({'male':1, 'female':0})

In [22]:
DF

,age,sex,bmi,children,smoker,region,charges,smoker_num,sex_num
0,19,female,27.900,0,yes,southwest,16884.92400,1,0
1,18,male,33.770,1,no,southeast,1725.55230,0,1
2,28,male,33.000,3,no,southeast,4449.46200,0,1
3,33,male,22.705,0,no,northwest,21984.47061,0,1
4,32,male,28.880,0,no,northwest,3866.85520,0,1
...,...,...,...,...,...,...,...,...,...
1333,50,male,30.970,3,no,northwest,10600.54830,0,1
1334,18,female,31.920,0,no,northeast,2205.98080,0,0
1335,18,female,36.850,0,no,southeast,1629.83350,0,0
1336,21,female,25.800,0,no,southwest,2007.94500,0,0
1337,61,female,29.070,0,yes,northwest,29141.36030,1,0

In [23]:
cols = ['sex','smoker']
DF.drop(cols,axis = 1)

      age     bmi  children     region      charges  smoker_num  sex_num
0      19  27.900         0  southwest  16884.92400           1        0
1      18  33.770         1  southeast   1725.55230           0        1
2      28  33.000         3  southeast   4449.46200           0        1
3      33  22.705         0  northwest  21984.47061           0        1
4      32  28.880         0  northwest   3866.85520           0        1
...   ...     ...       ...        ...          ...         ...      ...
1333   50  30.970         3  northwest  10600.54830           0        1
1334   18  31.920         0  northeast   2205.98080           0        0
1335   18  36.850         0  southeast   1629.83350           0        0
1336   21  25.800         0  southwest   2007.94500           0        0
1337   61  29.070         0  northwest  29141.36030           1        0

[1337 rows x 7 columns]

In [24]:
DF['region'].value_counts()

southeast    364
southwest    325
northwest    324
northeast    324
Name: region, dtype: int64

In [25]:
DF['region'] = DF['region'].map({'southeast':0,'southwest':1,'northwest':2,'northeast':3})

C:\Users\alist\AppData\Local\Temp\ipykernel_8088\1935585031.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  DF['region'] = DF['region'].map({'southeast':0,'southwest':1,'northwest':2,'northeast':3})

In [26]:
DF

,age,sex,bmi,children,smoker,region,charges,smoker_num,sex_num
0,19,female,27.900,0,yes,1,16884.92400,1,0
1,18,male,33.770,1,no,0,1725.55230,0,1
2,28,male,33.000,3,no,0,4449.46200,0,1
3,33,male,22.705,0,no,2,21984.47061,0,1
4,32,male,28.880,0,no,2,3866.85520,0,1
...,...,...,...,...,...,...,...,...,...
1333,50,male,30.970,3,no,2,10600.54830,0,1
1334,18,female,31.920,0,no,3,2205.98080,0,0
1335,18,female,36.850,0,no,0,1629.83350,0,0
1336,21,female,25.800,0,no,1,2007.94500,0,0
1337,61,female,29.070,0,yes,2,29141.36030,1,0

In [27]:
cols = ['sex','smoker']
DF.drop(cols,axis = 1,inplace = True)

C:\Users\alist\AppData\Local\Temp\ipykernel_8088\3227334555.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  DF.drop(cols,axis = 1,inplace = True)

In [28]:
DF

      age     bmi  children  region      charges  smoker_num  sex_num
0      19  27.900         0       1  16884.92400           1        0
1      18  33.770         1       0   1725.55230           0        1
2      28  33.000         3       0   4449.46200           0        1
3      33  22.705         0       2  21984.47061           0        1
4      32  28.880         0       2   3866.85520           0        1
...   ...     ...       ...     ...          ...         ...      ...
1333   50  30.970         3       2  10600.54830           0        1
1334   18  31.920         0       3   2205.98080           0        0
1335   18  36.850         0       0   1629.83350           0        0
1336   21  25.800         0       1   2007.94500           0        0
1337   61  29.070         0       2  29141.36030           1        0

[1337 rows x 7 columns]

In [29]:
X = DF.drop('charges',axis = 1)
Y = DF['charges']

In [30]:
X

      age     bmi  children  region  smoker_num  sex_num
0      19  27.900         0       1           1        0
1      18  33.770         1       0           0        1
2      28  33.000         3       0           0        1
3      33  22.705         0       2           0        1
4      32  28.880         0       2           0        1
...   ...     ...       ...     ...         ...      ...
1333   50  30.970         3       2           0        1
1334   18  31.920         0       3           0        0
1335   18  36.850         0       0           0        0
1336   21  25.800         0       1           0        0
1337   61  29.070         0       2           1        0

[1337 rows x 6 columns]

In [31]:
Y

0       16884.92400
1        1725.55230
2        4449.46200
3       21984.47061
4        3866.85520
           ...
1333    10600.54830
1334     2205.98080
1335     1629.83350
1336     2007.94500
1337    29141.36030
Name: charges, Length: 1337, dtype: float64

In [32]:
from imblearn.over_sampling import SMOTE

In [33]:
from sklearn.model_selection import train_test_split

In [34]:
X_train,X_test,Y_train,Y_test = train_test_split(X,Y,test_size = 0.2, random_state=42)

In [35]:
X_train

      age     bmi  children  region  smoker_num  sex_num
1114   23  24.510         0       3           0        1
968    21  25.745         2       3           0        1
599    52  37.525         2       2           0        0
170    63  41.470         0       0           0        1
275    47  26.600         2       3           0        0
...   ...     ...       ...     ...         ...      ...
1096   51  34.960         2       3           1        0
1131   27  45.900         2       1           0        1
1295   20  22.000         1       1           0        1
861    38  28.000         3       1           0        0
1127   35  35.860         2       0           0        0

[1069 rows x 6 columns]

In [36]:
Y_train

1114     2396.09590
968      3279.86855
599     33471.97189
170     13405.39030
275      9715.84100
           ...
1096    44641.19740
1131     3693.42800
1295     1964.78000
861      7151.09200
1127     5836.52040
Name: charges, Length: 1069, dtype: float64

In [37]:
Y_test

900      8688.85885
1064     5708.86700
1256    11436.73815
298     38746.35510
237      4463.20510
           ...
534     13831.11520
542     13887.20400
760      3925.75820
1284    47403.88000
1285     8534.67180
Name: charges, Length: 268, dtype: float64

In [38]:
from sklearn.linear_model import LinearRegression
from sklearn.svm import SVR
from sklearn.ensemble import RandomForestRegressor
from sklearn.ensemble import GradientBoostingRegressor

# Train Model

In [39]:
lr = LinearRegression()
lr.fit(X_train,Y_train)

LinearRegression()

In [40]:
y_pred = lr.predict(X_test)

In [41]:
y_pred

array([ 8078.88343163,  5777.02082362, 14429.1629418 , 31815.19613046,
        8917.2012333 , 13102.2532531 , 30406.91630632,  1496.00939292,
       10585.68162384, 11371.11817014, 10425.02552886, 33182.38334399,
       31034.12642525, 17470.15608802, 10751.55155272,  9571.6429809 ,
        4210.73770511, 31694.45971304,  3258.92889458,  5177.98753414,
        3502.67751614, 30235.01833548, 14856.9258212 , 30511.2886458 ,
       31181.52812095,  5572.48830411, 35470.05253875, 36628.29944762,
       11355.00686787, 14149.90001402,  6447.62469719, 12677.59872625,
         342.27031517, 12129.74757042, 39633.65931297, 12388.44090092,
        4786.8037088 ,  3965.01041568, 30809.56216292,  8903.94154501,
        7008.17946853, 30055.36632807, 34741.77871131, 12235.04161824,
        7402.95322862,  3464.26266068,  6167.49184652,  9028.9121507 ,
        4317.56629324,  8968.37021414,  6551.99747307, 12035.29853403,
       31193.38920692,  3506.07052596, 11096.75539915,  9681.60123861,
       10777.44542999,  2479.97873334, 31125.87585212,  9461.26937849,
       15534.43023443,  8143.54345702, 12657.19088568,  1540.77942065,
       17057.15689327, 10632.53938946, 10527.67916659, 30811.84564045,
       24824.75746207, 16524.16026661,  7311.22324232,  2918.26701022,
        7081.48054408,   -56.52536661, 11632.5922024 , -1070.37626111,
       17176.27619103,  8569.59003504,  7768.71772081, 12751.77655123,
        5835.41062282, 18498.70302815, 15424.03622969, 10910.2461845 ,
       36413.38384677, 13087.10152814,  4305.77498471,  2276.1424509 ,
        6622.39437532,  4004.33176376, 14957.37174621, 28237.7325559 ,
        5543.39640642,  3319.39667939,  2222.00109393, 35864.55287232,
       14296.30218711,  8798.45761033,  4142.97605133,  8636.50710981,
       14066.70726702, 15198.61125939, 32076.69611602, 14614.04498413,
       32818.70785182,   114.03485284, 31085.87905865, 26810.27884817,
       13978.54646224,  6046.76490597,  8081.94249803, 11624.09669448,
        8422.58604295, 10210.46553592,  6252.57242889,  5307.30125009,
        2023.6618626 ,  3009.81024682,  6993.04324624,  8986.98774957,
       35978.88386954,  8177.9238907 , 11505.26969285,  9140.8926841 ,
        9082.37723653,  9697.89142676,  4671.14667295, 12419.71315505,
       29767.01763815, 39041.05739698, 36064.24409556, 12229.30728256,
        2320.59072626, 11539.13971103, 10488.72417744,  5441.59032529,
       35004.15679741, 29832.09022197, 25582.0450591 ,  4811.64987844,
        6799.65520692,  5724.65426912, 36517.45335056, 10793.03775458,
        5506.26336748,  8431.23220423, 10182.29061993,  8509.88640172,
       34983.07922342, 14371.60055882,  9886.67747883,  6758.47319186,
        7133.56908142, 16840.05887307,  6860.69247928, 26378.1339254 ,
       36818.47064881, 16669.47474979,  9852.5791276 , 11146.39377759,
       12670.84989064,  4105.01809893, 12863.92933041, 13628.29145332,
       35739.7884569 , 33282.89000597, 12794.5231132 , 25154.20872631,
        2529.51687935,  1998.8596901 ,  4959.8657871 ,  4975.45068428,
        5197.39717819,  9661.62084485, 10089.98716974, 26319.12500503,
        2451.28007602, 10555.80535878,  6895.38667413, 12069.06464382,
       14970.47074049,  5161.50012068, 10827.49062457, 10100.56989019,
       33102.08690791, 10929.44828719,  7329.96494047,  5923.51247813,
         459.05847574, 31615.5732446 ,  8238.43528332, 32784.14972235,
       12604.9192746 ,  5922.37795285,  1703.60352001,  1990.13221162,
       32745.86825652,  5071.94358878, 13123.58957668, 17451.06532112,
       26451.68492642, 25690.9153635 ,  6488.24302562, 12085.14147624,
       28549.25313385,  8010.40438477, 10352.89157198, 10322.01102065,
        3243.20768207, 34274.67686775, 31626.60229009,  9685.36354652,
        5748.57235371,  7700.60359772, 10720.46210893,  4694.16019181,
        5176.27438335, 11995.84015882,  9294.03195502,  2979.00018473,
        4169.31259113, 37525.52520042, 37091.47478777, 13295.20594335,
       10675.40492606, 37688.02846211, 34391.36435948,  6971.99334099,
       26997.79846383,  4134.77048968, 15685.60196584, 29537.61924501,
        5830.41704671,  9489.07447106,  8727.79470896,  9417.77514147,
        9574.27605253,  4237.06314155,  5774.02930731,  4539.0810501 ,
        6346.64374104,  4826.87138084,  5925.91410455,  8859.19607385,
        1207.23199403,  8465.46867028,  3836.81807219, 10972.81039675,
        2614.60113767, 10337.83614154,  3967.12344693, 11861.34691781,
       12293.24589146, 14454.350004  , 37056.29564869, 23171.60846967,
       10074.91571128,  7861.84343422,  9240.03783886, 12458.31772435,
       29480.5302295 , 37826.67274969, 14672.79716591, 16709.28191836,
       15227.11286441,  6402.29600987, 38527.33801152,  8261.67923519])

In [42]:
from sklearn.metrics import accuracy_score

In [43]:
from sklearn.metrics import mean_squared_error

mse = mean_squared_error(Y_test, y_pred)
print("Mean Squared Error:", mse)

Mean Squared Error: 35485126.68042464

In [44]:
#bmi class interval 
DF['bmi'].value_counts()

32.30    13
28.31     9
30.80     8
31.35     8
28.88     8
         ..
46.20     1
23.80     1
44.77     1
32.12     1
30.97     1
Name: bmi, Length: 548, dtype: int64

In [53]:
min_age = DF['bmi'].min()

In [54]:
max_age = DF['bmi'].max()

In [55]:
example = DF.copy()

In [62]:
step = 5
bin_start = (int(min_age) // step) * step
bin_end = (int(max_age )// step + 1) * step
bins = [i for i in range(bin_start, bin_end + 1, step)]
example['bmi_Group'] = pd.cut(df['bmi'], bins).astype(str).str.replace("(", "").str.replace("]", "").str.replace(", ", "–")
distribution = example['bmi_Group'].value_counts().sort_index()
print("Bmi_Group\tFrequency")
for group, frequency in distribution.items():
    print(f"{group}\t\t{frequency}")

Bmi_Group	Frequency
15–20		41
20–25		206
25–30		386
30–35		388
35–40		225
40–45		71
45–50		17
50–55		3

C:\Users\alist\AppData\Local\Temp\ipykernel_8088\3608721965.py:5: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  example['bmi_Group'] = pd.cut(df['bmi'], bins).astype(str).str.replace("(", "").str.replace("]", "").str.replace(", ", "–")

In [63]:
d = DF[(DF['bmi'] >= 15) & (DF['bmi'] <= 20)].count()[['bmi']]

In [64]:
d

bmi    41
dtype: int64